@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  font-family: "Unbounded", sans-serif;
  color: #383936;
  background: #f7f7f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Unbounded", sans-serif;
  background: #f8f8f6;
  color: #393a36;
}

button,
a {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: #383936;
  color: #ffffff;
}